@model IEnumerable<CategoryViewModel>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>İlanlar</p>
</div>
<div class="col col-3 mt-3" style="width: 25rem;border:2px solid darkred">
    <img src="~/images/et5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" style="text-align:center"></h5>
        <p class="card-text">SkyWell ET5</p>
        <p class="card-text"> Otomatik </p>
        <p class="card-text">Benzin&Elektrik</p>
        <a href="#" class="btn btn-danger">İlan Detayı</a>
    </div>
</div>
