@{

    ViewBag.Title = "Referanslarımız";
}
<h1 style="text-align:center;color:white">Referanslarımız</h1>
<body class="body" style="background-color:#191919;">

    <div>
        <div class="card-group" style="border:4px solid black">
            <div class="card" style="width: 25rem;border:4px solid darkred">
                <img src="~/images/bmw.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2015 BMW 1.18i</h5>
                    <p class="card-text">BMW 1.18i Joy</p>
                    <a href="#" class="btn btn-danger">İlan Detayı</a>
                </div>

            </div>


            <div class="card " style="width: 25rem;border:4px solid darkred">
                <img src="~/images/passat.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2015 VW Passat</h5>
                    <p class="card-text">Passat</p>
                    <a href="#" class="btn btn-danger">İlan Detayı</a>
                </div>
            </div>

            <div class="card" style="width: 25rem;border:4px solid darkred">
                <img src="~/images/superb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2022 Skoda Superb</h5>
                    <p class="card-text">Skoda Superb</p>
                    <a href="#" class="btn btn-danger">İlan Detayı</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;border:4px solid darkred">
                <img src="~/images/et5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Skywell</h5>
                    <p class="card-text">SkyWell ET5</p>
                    <a href="#" class="btn btn-danger">İlan Detayı</a>
                </div>
            </div>
        </div>


    </div>
</body>
